.container {
  height: 80vh;
  max-width: 33rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.container article {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container article > p{
  color: #0070f3;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  position: relative;
  bottom: 0;
  margin: 3rem 0 0;
}

.postsWrapper {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 10px;
}

.building {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1180px) { 
  .container{
    margin: calc(3rem + 7.5rem) auto 6rem;
  }
}