.container {
  height: 100vh;
  max-width: 33rem;
  padding: 0 1rem;
  margin: 3rem auto;
}

.container article {
  display: flex;
  flex-direction: column;
}

.container article > p{
  color: #0070f3;
}

.contact {
  margin-top: 13rem;
  text-align: right;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  position: relative;
  bottom: 0;
  margin: 3rem 0 0;
}

.postStyle {
  display: flex;
  justify-content: center;
  border: 0.5px solid black;
  border-radius: 10px;
  padding: 0 10px;
  margin: 10px;
}

.postStyle h2{
  font-size: 18px;
}

.postsWrapper {
  list-style: none;
  padding: 0px;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
}

.postsWrapper div {
  flex-direction: row;
  flex: 1 0 auto;
}

.building {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1180px) { 
  .container{
    margin: calc(3rem + 7.5rem) 6rem;
  }
}