#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  transition: background 0.1s;
  z-index:1;
}

.logo {
  padding: 30px;
}

.logoDark {
  padding: 30px;
  width: 108px;
  height: 130px;
  margin: -5px -60px;
}

.logoContainer {
  width: 120px;
  height: 7.5rem;
}

.logoContainerMinor {
  width: 120px;
  height: 7.5rem;
  display: none;
}

.links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 23%;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.burguer {
  cursor: pointer;
  display: none;
}

.burguer div{
  display: flex;
  justify-content: center;
  width: 25px;
  height: 5px;
  background: #000;
  margin: 5px;
}

@media screen and (max-width: 1180px) {  
  #navbar { 
    top: 0;
    position:fixed;
    margin-bottom: 120px;
    background: #16001E;    
  }

  .links {
    margin: 0;
    width: 100vw;
    position: fixed;
    top: 7.5rem;
    right: 0px;
    height: calc(100vh - 7.5rem);
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease-in;
    transform: translateX(100%);
    background: #16001E;
    z-index: 10;
    overflow-y: hidden;
  }

  .logoContainer {
    display: none;
  }

  .logoContainerMinor {
    display: block;
  }

  .burguer {
    display: block;
  }

  .burguer div{
    background: #fff;
  }
}

.navActivate {
  transform: translateX(0%);
}

.overflow{
  overflow: hidden;
}